{% extends 'event_manager/base.html' %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    HackerTracker Frequently Asked Questions (FAQ)
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-2">
                <a href="/event_manager/faq/"><button class="btn btn-primary">Add FAQ</button></a>
            </div>
            <div class="col-lg-10">
                {% include 'event_manager/messages.html'%}
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Conference</th>
                            <th>Question</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if faqs %}
                            {% for faq in faqs %}
                            <tr>
                                <td>{{ faq.conference.name }}</td>
                                <td>{{ faq.question }}</td>
                                <td>
                                    <a href="/event_manager/faq/{{faq.id}}/"><i class="fa fa-fw fa-edit"></i></a>
                                    <a href="/event_manager/faq/d/{{faq.id}}" onclick="return confirm('Delete {{faq.question}}?');"><i class="fa fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

{% endblock %}
