{% extends 'event_manager/base.html' %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    HackerTracker Search
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                {% include 'event_manager/messages.html'%}
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Search box -->
        <div class="row">
            <div class="col-lg-1">&nbsp</div>
            <div class="col-lg-6">
                <form method="get" class="form-vertical">
                <div class="form-group">
                    <label for="search">Search</label>
                    {% if q %}
                    <input type="text" class="form-control" name="q" id="q" value="{{q}}" placeholder="Search">
                    {% else %}
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
        
        <!-- Events list -->
        {% if event_list %}
        <div class="row">
            <div class="col-lg-12"><hr></div>
            <div class="col-lg-12"><h3>Events</h3></div>
        </div>
        <div class="row">
            
            <div class="col-lg-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Conference</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for e in event_list %}
                            <tr>
                                <td>{{ e.conference.code }}</td>
                                <td>{{ e.title }}</td>
                                <td>
                                    <a href="/event_manager/event/{{e.id}}/"><i class="fa fa-fw fa-edit"></i></a>
                                    <a href="/event_manager/event/d/{{e.id}}" onclick="return confirm('Delete {{e.title}}?');"><i class="fa fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <!-- end events -->
        
        <!-- start speakers -->
        {% if speakers %}
        <div class="row">
            <div class="col-lg-12"><hr></div>
            <div class="col-lg-12"><h3>Speakers</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Conference</th>
                            <th>Speaker</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for sp in speakers %}
                            <tr>
                                <td>{{ sp.conference.code }}</td>
                                <td>{{ sp.who }}</td>
                                <td>
                                    <a href="/event_manager/speaker/{{sp.id}}/"><i class="fa fa-fw fa-edit"></i></a>
                                    <a href="/event_manager/speaker/d/{{sp.id}}" onclick="return confirm('Delete {{sp.who}}?');"><i class="fa fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <!-- end speakers -->


    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

{% endblock %}
